/* some style */

#malli {
  margin: 2em;
}

/* footer always at bottom */
/* https://codepen.io/cbracco/pen/zekgx */

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 4rem;
}

.buttons .btn {
  margin: 3px;
}

.footer {
  position: absolute;
  padding: 1rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

/* end footer always at bottom */

.CodeMirror {
  border: 1px solid #eee;
  margin: 8px 0 8px 0;
  height: auto;
}
